*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to right, rgba(199, 113, 63, 0.418), rgba(0, 128, 0, 0.493)) ,  
  url('../images/background_stovel.jpg');
  background-position: top;
  
}

.footer{
  margin-bottom: 30px;
}