
.helptext{
  font-size: 12px;
}

.frm{
  display: grid;
  grid-template-columns: 150px 250px;
  column-gap: 20px; 
  row-gap: 15px;
  padding-top: 20px;
}
.el_btn_login{
  justify-self: flex-end;
}

.el_btn_clear{
  justify-self: flex-start;
}

.link{
  background-color: rgb(240, 215, 105);
  color: black;
  outline: none;
  border: 0;
  border-radius: 20px;
  padding : 5px;
  text-decoration: none;
}

.btn{
  width: fit-content;
  padding: 5px;
  align-self: center;
  border: 2px;
}

.lbl{
  color: green;
}


.txt{
  outline: 0;
  border-width: 0 0 2px;
  border-color: darkviolet;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 30px;
  width: inherit;
}

.txt:focus{
  border-color: deeppink;
}

.propic{
  -ms-grid-row-span: 2;
}