{% extends 'baseskin.html' %}
{% load static %}
{% block hd %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}" type="text/css">
{% endblock %}
{% block content %}
<div id="home_content">
    <br/>
    {% if user.is_authenticated %}
      <div> Hi {{ user.first_name }} ! </div>
    {% endif %}
    <form action="{% url 'Savebook' %}" method="POST" enctype="multipart/form-data" class="bookform" >
        {% csrf_token %}
        <input type="text" class="txt" name="txt_bookname" placeholder="Book name" required="" />
        <input type="text" class="txt" name="txt_authname" placeholder="Author name" required=""/> 
        <input type="text" class="txt" name="txt_pubname" placeholder="Publication name" required=""/> 
        <label for="file_book" class="lbl" >Choose Book</label>
        <input type="file" name="file_bk" id="file_book" hidden >
        <input type="submit" name="btn_submit" id="btn_submit" class="btn link" value="Share post">
    </form>
    <br />
</div>
<div>
{% for bk in books %}
    <div>
       <a href="../user/{{ bk.posted_by.username }}" class="link_login"> {{ bk.posted_by.first_name }} </a>  <a href="{{ bk.book_file.url }}" download> {{ bk.book_name }} </a> 
       : {{ bk.author_name }} : {{ bk.publication_name }} 
       
       <br/> <br/>
    </div>
{% endfor %}
</div>
{% endblock %}