{% extends 'base.html' %}
{% block content %}
<div id="gen_screen">
    Welcome to Stovel! <br />
    Here you can read your favorite Novels and Stories.<br /> <br />
</div>

<div id="Welcome_screen">

    Please Login to explore more !!!
    <form action="login/" method="GET" name="login_part">
        <input type="submit" value="Login" class="link_login">
    </form>
    <br />
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    If you are not signed up yet, This is the right time to register here...
    <form action="register/" method="GET" name="register_part">
        <input type="submit" value="Register" class="link_login">
    </form>

</div>
{% endblock %}