<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyExp</title>
    <link rel="icon" href="{% static "imgs/expimg.png" %}" type="image/icon type">
    <link rel="stylesheet" href="{% static "css/allstyle.css" %}" type="text/css">
    <script src="{% static "js/expense.js" %}"> </script>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

 <div id="footer" class= "ftr" > 
     Website created and maintained by " Ramakrishnan P " <br/>
     Contact by phone : +91 9842378754,  Mail : ramakrishnanp30798@gmail.com
 </div>   
</body>   
</html>