{% extends 'base.html' %} 
{% block content %}
    Welcome User!
    <p> Please enter your expense below. </p>
    <div>
        <input type="button" value="Add expense"     
        <table>
            <tr> <th> Sno </th> <th> Date </th> <th> Expense Name </th> <th> Amount </th> <th> Action </th> </tr>
            
        </table>
    </div>
    <a class="linkbutton" href="entry/"> Enter the expense detail. </a> <br/>
    <a class="linkbutton" href="viewall/"> View all of your expenses. </a> <br/>
    <a class="linkbutton" href="viewreport/"> View report for your expenses. </a> <br/>

{% endblock %} 