{% extends 'base.html' %}
{% block content %}
    <div id="signup_part" >
        <form action="../register/" id="frm_signup" name="frm_signin" method="POST">
            {% csrf_token %}
            <br/>
            Enter your First name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" name="txt_first_name" id="txt_firstname"
                value="" required="" /><br />
            Enter your Last name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" name="txt_last_name" id="txt_lastname"
                value="" required="" /><br />
            Enter your DOB &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="date" name="dt_dob" id="dt_user_dob"
                required="" /><br />
            Enter your email address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="email" name="user_email" required="" > <br/>

            Enter your user name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" name="txt_u_name" id="txt_u_name" value=""
                required="" /><br />
            Enter your password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="password" name="pwd_usr_passwd" id="pwd_usr_passwd"
                value="" required="" /><br />
            <input type="submit" id="btn_signin_1" value="Sign In" name="btn_signin_1" />
            <input type="button" id="btn_signin_clr" value="Clear"
                onclick="document.getElementById('frm_signup').reset()">
        </form>
        <br/>
        <div> <a href="../" > Back </div> 
        <br/>

    </div>
{% endblock %}
