<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Stovel</title>

    <link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="icon" href="{% static 'images/app_icon.png' %}" type="image/x-icon" />

    <script type="text/javascript" src="{% static 'js/jquery_file.js' %}"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>

</head>

<body>
        {% if messages %}
            {% for messege in messeges %}
                <div class="messages {{ message.tags }}"> {{ messege }} </div>
            {% endfor %}
        {% endif %}
    <header class="header">
        <div class="title-text">
            <img alt="Image of Stovel app " src="{% static 'images/app_icon.png' %}" width="30px" height="30px" />
            Stovel
        </div>
        {% if user.is_authenticated %}
        <nav class="nav-header">
            <a href="#"> {{ user.first_name }} </a> 
            <a href="#"> Logout </a>
        </nav>
        {% else %}
        <nav class="nav-header">
            <a href="{% url 'Login' %}"> Login </a> or 
            <a href="{% url 'Signin' %}"> Sign in </a>
        </nav>    
        {% endif %}
    </header>
    <article>
        {% block content %}
        {% endblock %}
    </article>
    <footer class="footer"> Creation of this site is in Progress.<br />
        You are seeing the beta version of this application.
    </footer>
</body>

</html>