{% extends 'base.html' %}
<!DOCTYPE html>
<html>

<body>
    {% block content %}
    <div id="gen_screen">
        Welcome to Stovel! <br />
        Here you can read your favorite Novels and Stories.<br /> <br />
    </div>

    <div id="Welcome_screen">

        <div id="login_part">
            Please login to explore more!!<br />
            <br />
            <form action="login/" id="form_login" name="form_log" method="POST">
                {% csrf_token %}
                Enter your username &nbsp;&nbsp;&nbsp; : <input type="text" name="txt_uname" id="txt_user"
                    accesskey="s" /><br />
                Enter your password &nbsp;&nbsp;&nbsp;&nbsp; : <input type="password" name="pwd_login" id="p_pass"
                    accesskey="p" />
                <br />
                <input type="Submit" name="btn_login" id="button_login" value="Login" />
                <input type="button" id="btn_sign_clr" value="Clear"
                    onclick="document.getElementById('form_login').reset()">

            </form>
            <div>
                {% for messege in messeges %}
                   <p> {{ messege }} </p>
                {% endfor %}
            </div>
            <div id="signup_btn">
                If you have not registered yet, please sign in to login ! 
                <input type="button" id="btn_signin_0" value="Sign In" name="btn_signin_0" onclick="enable_signin()" />
            </div>
        </div>

        <div id="signup_part" style="visibility: hidden">
            <form action="signin/" id="frm_signup" name="frm_signin" method="POST">
                {% csrf_token %}
                Enter your First name &nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" name="txt_first_name" id="txt_firstname"
                    value="" required="" /><br />
                Enter your Last name &nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" name="txt_last_name" id="txt_lastname"
                    value="" required="" /><br />
                Enter your DOB &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="date" name="dt_dob" id="dt_user_dob"
                    required="" /><br />
                Enter your email address &nbsp;&nbsp;: <input type="email" name="user_email" required="" > <br/>

                Enter your user name &nbsp;: <input type="text" name="txt_u_name" id="txt_u_name" value=""
                    required="" /><br />
                Enter your password &nbsp;&nbsp;&nbsp;: <input type="password" name="pwd_usr_passwd" id="pwd_usr_passwd"
                    value="" required="" /><br />
                <input type="submit" id="btn_signin_1" value="Sign In" name="btn_signin_1" />
                <input type="button" id="btn_signin_clr" value="Clear"
                    onclick="document.getElementById('frm_signup').reset()">
            </form>
        </div>
        
    </div>
    {% endblock %}
</body>

</html>