{% extends 'baseskin.html' %}
{% block content %}
    {% if mode == 'log' %}
    Please login to explore more!!
    <form action="{% url 'Login' %}" id="form_login" name="form_log" method="POST" class='frm' >
        {% csrf_token %}
        <p>Your username </p> <input type="text" name="txt_uname" id="txt_user" accesskey="u" class="txt"
            required="" />
        <p>Your password </p> <input type="password" name="pwd_login" id="p_pass" accesskey="p" class="txt"
            required="" />
        <input type="Submit" name="btn_login" id="button_login" value="Login" class="btn link el_btn_login" />
        <input type="button" id="btn_sign_clr" class="btn link el_btn_clear" value="Clear" onclick="document.getElementById('form_login').reset()">
        <a href="{% url 'Index' %}" class="btn link el_btn" > Back </a>
    </form>
    
    
    {% endif %}
    {% if mode == 'sign' %}
        <form action="{% url 'Signin' %}" id="form_sign" method="post" class="frm">
            {% csrf_token %}
            {% for f in form %}
                {{ f.field.label }} 
                {{ f }} <br>
                {% if f.field.help_text %}
                  <p class="helptext">  {{ f.field.help_text }} </p> <br>
                {% endif %}    
            {% endfor %}
            <input type="submit" value="Sign In" class="btn link"> <input type="button" id="btn_sign_clr" class="btn link" value="Clear" onclick="document.getElementById('form_sign').reset()">
            <a href="{% url 'Index' %}" class="btn link ">Back</a>
        </form>
    {% endif %}
{% endblock %}