#home
{
    width: 100%;
}

#home_left, #home_right
{
    font-family: 'Tahoma';
    display: inline-flex;
}

#home_left
{
    background-color: #99ff99;  
}

#home_right
{
    font-weight: bold;
}
.lbl_book{
    font-family: sans-serif;    
    font-style: italic;    
    text-decoration: underline;
}
.b_f_name
{
    font-family: Tahoma;
}

.post_bar
{
	display: inline-block;
}
